<template>
  <input
    type="type"
    :value="value"
    @input="onInput"
    @focusout="focusout"
  >
</template>

<script>
export default {
  name: 'AutoFocusInput',
  props: ['value', 'type'],
  methods: {
    onInput (e) {
      this.$emit('input', e.target.value)
    },
    focusout (e) {
      this.$emit('focusout', e)
    }
  },
  mounted () {
    this.$el.focus()
    this.$el.selectionStart = this.$el.selectionEnd = this.$el.value
  }
}
</script>

<style scoped>
input{
  padding: 0;
  border: 1px;
  font-size: inherit;
}
</style>
