<template>
  <div class=" dropdown-menu">
    <i class="fa fa-bars fa-2x dropdown-btn"></i>
    <div class="dropdown-content">
      <div>
        <router-link to="/campaigns">Campaigns</router-link>
      </div>
      <div>
        <router-link to="/line_items">LineItems</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DropDownMenu'
}
</script>

<style scoped>
.dropdown-menu {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c3e50;
  min-width: 120px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-btn {
  color: white;
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}
</style>
