<template>
  <div class="container">
    <div v-if="loading">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'InfiniteScroll',
  props: ['disabled', 'loading', 'timeout'],
  data () {
    return {
      observer: null
    }
  },
  methods: {},
  mounted () {
    const options = {
      root: null,
      rootMargin: '50px',
      threshold: 1.0
    }

    let isTriggered = false
    this.observer = new IntersectionObserver((target) => {
      if (this.disabled || !target[0].isIntersecting) return

      if (!isTriggered) {
        isTriggered = true
        setTimeout(() => {
          isTriggered = false
        }, this.timeout)

        this.$emit('trigger')
      }
    }, options)

    this.observer.observe(this.$el)
  },
  unmounted () {
    this.observer.disconnect()
    console.log('distoryed')
  }
}
</script>

<style scoped>
.container {
  width: 100%;
  height: 50px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: grey;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

</style>
