<template>
  <div class="app">

    <div class="toolbar">
    <span>
      <DropDownMenu></DropDownMenu>
    </span>
    <span>
      <img src="./assets/white-logo.png" alt="" class="h36px">
    </span>
    </div>

    <!--header-->
    <div class="breadcrumbs">
      <div v-if="routePath=='/line_items'" class="nav">LineItems</div>
      <div v-else-if="routePath=='/campaigns'">Campaigns</div>
      <div v-else-if="routePath.indexOf('/campaign/')>-1">
        <router-link to="/campaigns">Campaigns</router-link>
        >
        <span class="green-text">{{title}}</span>
      </div>
    </div>

    <router-view @updateTitle="updateTitle"/>
  </div>
</template>

<script>
import DropDownMenu from '@/components/DropDownMenu'

export default {
  components: { DropDownMenu },
  data () {
    return {
      title: ''
    }
  },
  computed: {
    routePath () {
      return this.$route.path
    }
  },
  methods: {
    updateTitle (title) {
      this.title = title
    }
  }
}
</script>

<style lang="scss">
body {
  margin: 0px;
}

.app {
  font-family: "Ubuntu", sans-serif;
  color: #2c3e50;
}

.toolbar {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  width: 100vw;
  height: 60px;
  background-color: #0E4969;
}

.toolbar > span {
  margin: auto 10px auto 10px;
}

.breadcrumbs {
  display: flex;
  height: 36px;
  background-color:#E0E0E0;
}

.breadcrumbs>div{
  margin: auto auto auto 10px;
}

div>a{
  text-decoration: none;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.h36px {
  height: 36px;
}

.green-text{
 color: #77BB55;
}
</style>
