<template>
  <div class="table-container">

    <div class="table-header">
      <h1>Campaign Name</h1>
    </div>

    <div class="table-body">
      <router-link :to="getPath(campaign.campaign_id)" v-for="(campaign,i) in campaigns" :key="i"
        class="campaign"
      >
        <div>
        {{campaign.campaign_name}}
        </div>
      </router-link>

      <div class="table-footer">
      <InfiniteScroll
        v-if="campaigns.length>0"
        :disabled="disableInfiniteScrolling"
        :loading="loading"
        @trigger="onTriggered"
      ></InfiniteScroll>
        <div v-else>End of Data</div>
        </div>
    </div>
  </div>
</template>

<script>
import api from '../api'
import InfiniteScroll from '@/components/InfiniteScroll'

const FETCH_LIMIT = 20

export default {
  name: 'Campaigns',
  components: { InfiniteScroll },
  data () {
    return {
      loading: false,
      campaigns: [],
      dataOffset: 0,
      noMoreData: false
    }
  },
  computed: {
    disableInfiniteScrolling () {
      return this.noMoreData
    }
  },
  methods: {
    getPath (campaignID) {
      return `/campaign/${campaignID}`
    },
    fetchData (offset, limit) {
      if (this.noMoreData) return

      this.loading = true
      api.getCampaigns(offset, limit)
        .then(({ data }) => {
          const { campaigns } = data
          this.loading = false
          this.campaigns = this.campaigns.concat(campaigns)
          this.dataOffset += campaigns.length
          if (campaigns.length < FETCH_LIMIT) {
            this.noMoreData = true
          }
        })
        .catch(err => {
          this.loading = false
          console.log(err)
        })
    },
    onTriggered () {
      this.fetchData(this.dataOffset, FETCH_LIMIT)
    },
    goCampaign (campaignID) {

    }
  },
  async mounted () {
    try {
      const { data } = await api.getCampaigns(0, 20)
      this.campaigns.push(...data.campaigns)
      console.log(this.campaigns)
    } catch (e) {
      console.log(e)
    }
  }
}
</script>

<style scoped>
.table-container {
  display:flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  height: 600px;
  overflow: auto;
  position: relative;
}
.table-header{
  display: flex;
  position: sticky;
  top: 0px;
  height: 4em;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  background-color: white;
}
.table-header>h1{
  font-weight: 700;
  position: relative;
  bottom: 0;
}

.table-body {
  display: flex;
  flex-direction: column;
}

.campaign{
  display:flex;
  height: 3em;
  font-size: 1em;
  text-decoration: none;
  color:inherit;
}
.campaign:hover{
  background-color: #e1ffe0;
}
.campaign>div{
  margin-top: auto;
  margin-bottom:auto;
}
</style>
