<template>
  <div class="container">
    <h1> Intro </h1>
    This is a demo app for user to manage given invoice data.
    <ul>
      <li> Frontend use Vue 2</li>
      <li> Backend use golang + gin</li>
      <li> DB use PostgreSQL</li>
    </ul>

    <h1> Pages </h1>
    Through the menu icon on the top-left corner of page, the user can access another pages.

    <h2> LineItems</h2>
    <ul>
      <li> The user can browse through all the line-item data as a table, ordered by invoice id (ASC).</li>
      <li>
        When the table scrolled to the bottom, if there's still some data left in the DB, the app will fetch 20 invoice
        data; otherwise, there will be a notice at the bottom.
      </li>
      <li>
        When the user could edit line-item "adjustments" when this line-item isn't reviewed: click at the number and
        there will be an input filed, after focusout, the data will be updated to the server.The number of client side
        will be updated only when backend updated.
      </li>
      <li>
        Each line-item's billable amount will be calculated in the Subtotal column (sub-total = actuals +adjustments).
      </li>
      <li>
        On the top of page, user can the amount of grand-total (sum of each line-item's billableamount).
      </li>
      <li>
        The user can check individual line-items as "reviewed", and they can't edit adjustments anymore.
      </li>
      <li>
        User can filter the line-items by campaign name. The grand-total will be changed reactively.
      </li>
    </ul>

    <h2> Campaigns </h2>
    <ul>
      <li>
        User can see all the campaigns.
      </li>
      <li>
        User can see more detail of specific campaign by click the campaign name.
      </li>
    </ul>

    <h2> Campaign </h2>
    <ul>
      <li>
        There are line-items belongs to this sepecific campaign.
      </li>
      <li>
        User can see the sum of all sub-total of these line-items.
      </li>
    </ul>

  </div>
</template>

<script>
export default {
  name: 'Info'
}
</script>

<style scoped>
.container {
  width: 80%;
  margin: 10px auto auto auto;
}
</style>
