<template>
  <div class="container">

    <div class="dashboard">
      <h1>Grand total: {{ formatNumber(grandTotal) }}</h1>
    </div>

    <div class="filter-bar">
      <input
          v-show="isLineItemView"
        type="text"
        placeholder="filter line items by campaign name"
        @input="onChangeFilter"
      >
    </div>

    <div class="table-container">

      <div class="table-header">
        <span>Campaign Name</span>
        <span>Line Item Name</span>
        <span class="text-right">Booked Amount</span>
        <span class="text-right">Actual Amount</span>
        <span class="text-right">Adjustments</span>
        <span class="text-right">Sub Total</span>
        <span class="text-center">Reviewed</span>
      </div>

      <div class="table-body">
        <template v-for="(item,i) in lineItems">
          <span :key="i+'-0'" class="green-font weight500 text-left" :class="{reviewed: item.is_reviewed}">{{ item.campaign_name }}</span>
          <span :key="i+'-1'" class="text-left" :class="{reviewed: item.is_reviewed}">{{ item.line_item_name }}</span>
          <span :key="i+'-2'" class="text-right" :class="{reviewed: item.is_reviewed}">{{ formatNumber(item.booked_amount, 4) }}</span>
          <span :key="i+'-3'" class="text-right" :class="{reviewed: item.is_reviewed}">{{ formatNumber(item.actual_amount, 4) }}</span>
          <span :key="i+'-4'" class="text-right" :class="{reviewed: item.is_reviewed}">
          <auto-focus-input
            v-if="!item.is_reviewed && item.isEditing" :data-id="i"
            class="yellow-background"
            :class="{reviewed: item.is_reviewed}"
            type="text"
            v-model.number="item.adjustments"
            @focusout="saveAdjustment(item,i)"
          ></auto-focus-input>
          <span v-else
            :class="{reviewed: item.is_reviewed}"
            @click="editAdjustment(item)"
          >
          {{ formatNumber(item.adjustments) }}
          </span>
        </span>
          <span :key="i+'-5'" class="text-right" :class="{reviewed: item.is_reviewed}">{{ formatNumber(item.actual_amount + item.adjustments) }}</span>
          <span :key="i+'-6'" class="text-center" :class="{reviewed: item.is_reviewed}">
            <i v-if="item.is_reviewed" class="fa fa-check-square-o"></i>
            <a v-else @click="onReviewItem(item)"><i class="fa fa-square-o"></i></a>
          </span>
        </template>

        <div class="table-footer">
          <InfiniteScroll
            v-if="lineItems.length>0"
            :disabled="disableInfiniteScrolling"
            :loading="loading"
            @trigger="onTriggered"
          ></InfiniteScroll>
          <div v-if="table.isEnd">The end of data</div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import accounting from 'accounting-js'
import api from '../api'
import reducer from '@/utils/reducer'

import AutoFocusInput from '../components/AutoFocusInput'
import InfiniteScroll from '../components/InfiniteScroll'

const FETCH_LIMIT = 20

export default {
  name: 'LineItem',
  components: {
    AutoFocusInput,
    InfiniteScroll
  },
  data () {
    return {
      accounting,
      table: {
        offset: 0,
        isEnd: false
      },
      isFiltering: false,
      loading: false,
      originInvoices: [],
      lineItems: []
    }
  },
  watch: {
    routePath (newVal, oldVal) {
      this.initByRoutePath(newVal)
    }
  },
  computed: {
    routePath () {
      return this.$route.path
    },
    isLineItemView () {
      return this.routePath === '/line_items'
    },
    grandTotal () {
      return this.lineItems.reduce((sum, lineItem) => {
        return sum + this.getSubTotal(lineItem)
      }, 0)
    },
    disableInfiniteScrolling () {
      return this.table.isEnd || this.isFiltering
    }
  },
  methods: {
    resetData () {
      this.isEditing = false
      this.isFiltering = false
      this.loading = false
      this.table.isEnd = false
      this.table.offset = 0
      this.lineItems = []
      this.originInvoices = []
    },
    initByRoutePath (path) {
      this.resetData()
      switch (true) {
        case path === '/line_items':
          this.fetchData(this.table.offset, FETCH_LIMIT)
          break
        case path.indexOf('/campaign/') > -1:
          this.fetchDataByCampaignID(this.$route.params.id)
          break
      }
    },
    formatNumber (num, placeholder) {
      return accounting.formatNumber(num, placeholder)
    },
    editAdjustment (lineItem) {
      lineItem.isEditing = true
    },
    saveAdjustment: function (lineItem, i) {
      lineItem.isEditing = false

      if (!lineItem.isEditing || lineItem.adjustments === lineItem.initAdjustments) {
        return
      }

      lineItem.adjustments *= 1
      if (Number.isNaN(lineItem.adjustments)) {
        lineItem.adjustments = 0
      }

      api.updateInvoice(lineItem)
        .then(res => {
          this.lineItems[i].adjustments = lineItem.adjustments
          this.lineItems[i].initAdjustments = lineItem.adjustments
        }).catch(err => {
          console.log(err)
        })
    },
    onTriggered () {
      this.fetchData(this.table.offset, FETCH_LIMIT)
    },
    fetchData (offset, limit) {
      if (this.table.isEnd) return

      this.loading = true
      api.getInvoice(offset, limit)
        .then(({ data }) => {
          const { invoices } = data
          if (invoices.length < limit) {
            this.table.isEnd = true
          }
          this.table.offset += invoices.length
          this.originInvoices = this.originInvoices.concat(invoices)
          this.loading = false
          this.lineItems = this.lineItems.concat(reducer.convertInvoicesToLineItems(invoices))
        })
        .catch(e => {
          this.loading = false
          console.log(e)
        })
    },
    fetchDataByCampaignID (id) {
      this.table.isEnd = true
      api.getInvoiceByCampaignID(id)
        .then(({ data }) => {
          const { invoices } = data
          this.$emit('updateTitle', invoices[0].campaign_name)
          this.lineItems = reducer.convertInvoicesToLineItems(invoices)
        })
        .catch(err => {
          console.log(err)
        })
    },
    getSubTotal (lineItem) {
      let subTotal = lineItem.adjustments * 1 + lineItem.actual_amount * 1
      if (Number.isNaN(subTotal)) {
        subTotal = 0
      }
      return subTotal
    },
    onChangeFilter (e) {
      const keyword = e.target.value
      this.isFiltering = keyword !== ''

      this.lineItems = reducer.getLineItemsByCampaignName({
        invoices: this.originInvoices,
        keyword
      })
    },
    onReviewItem (lineItem) {
      lineItem.is_reviewed = true
      api.updateInvoice(lineItem)
        .then(res => {
          console.log(`lineItem(${lineItem.id}) reviewed`)
        })
        .catch(err => {
          console.log(err)
          lineItem.is_reviewed = false
        })
    }
  },
  mounted () {
    this.initByRoutePath(this.routePath)
  }
}
</script>

<style scoped>

.container {
  width:80%;
  margin: auto;
  display: flex;
  flex-flow: column;
}

.dashboard {
  width: 100%;
  margin: 20px;
  border: 1px #2c3e50;
}

.filter-bar{
  width: 100%;
  height: 40px;
  position:relative;
}

.filter-bar > input{
  width: 30%;
  float: right;
  margin: auto;
  font: inherit;
}

.table-container {
  width: 100%;
  margin: auto;
  height: 600px;
  overflow: auto;
  position: relative;
}

.table-header {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr 1fr 1fr 1fr;
  position: sticky;
  top: 0px;
  background-color: #FFFFFF;
  height: 4em;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}

.table-header > span {
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
  grid-auto-rows: 6em;
}

.table-body {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 4em;
}

.table-body >span {
  margin-top: auto;
  margin-bottom: auto;
  padding: 4px;
}

.table-footer {
  width: 100%;
}

.weight500{
  font-weight: 500;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.green-font {
  color: #77BB55;
}

.yellow-background{
  background-color: #fffcaf;
}

.reviewed{
  color: grey;
}

</style>
